.gsc-control-cse.gsc-control-cse-id {
    background-color: transparent;
    border: none;
}

.gsc-webResult.gsc-result {
    border: none;
}

.gs-bidi-start-align.gs-snippet {
    color: var(--text-color);
}

.gsc-tabsArea {
  background: var(--background-color);
}

.gsc-tabHeader.gsc-tabhInactive {
  color: var(--text-color);
}

.gs-result .gs-image, .gs-result .gs-promotion-image {
  display: table-header-group;
}
