{{ define "main" }}
    {{ if eq .Params.index true }}
    {{ partial "entry/featured.html" . }}
    {{ else }}
    {{ partial "hero" . }}
    {{ end }}
	
    <!-- Load Main Overview Series -->
    {{ if eq .Params.index true }}
        <div class="wrapper post__entry">
            {{ partial "series/tech_stack.html" . }}
            {{ .Content }}
            <br>
            {{ partial "series/chapters.html" . }}
        </div>
    {{ else }}
    <div class="wrapper big-wrapper post__entry">
        <br>
        {{ .Content }}
        <br>
        <!-- List -->
        {{ partial "series/list_series.html" . }}
        
        <!-- Pagination -->
        {{ partial "pagination.html" . }}
    </div>
    {{ end }}
{{ end }}