{{ define "main" }}
{{ partial "entry/featured.html" . }}
	{{ if .Params.page }}
	<div class="wrapper post__entry">
		<div class="single block">
			<article class="entry">
				<div class="entry__content">
				{{ .Content }}
				{{ partial "contact_form.html" . }}
				{{ partial "search.html" . }}
				</div>
			</article>
		</div>
	</div>
	{{ else }}
	<article id="article" class="post__entry single grid wrapper big-wrapper">
		<div class="main">
		{{ partial "breadcrumb.html" . }}
		<div class="entry__toc card">
			{{ partial "entry/toc.html" . }}
		</div>
			<div>
			<div class="entry__content">
				{{ .Content }}
				{{ partial "edit_content.html" . }}
				{{ partial "contact_form.html" . }}
				{{ partial "search.html" . }}
			</div>
			{{ if or (.Param "share") (isset $.Params "tags") }}
			<div class="entry__footer">
				{{ partial "entry/tags.html" . }}
				{{ partial "entry/share.html" . }}
				{{ partial "authorbox.html" . }}
			</div>
			{{ end }}
			</div>
		</div>

		{{ partial "sidebar_content.html" . }}
	</article>
	<div class="wrapper">
		{{ partial "related.html" . }}
		{{ partial "comments.html" . }}
	</div>
	{{ end }}
{{ end }}
