body{
    /* --code-color: #7f7f7f;
    --code-bg-color: #f0f3f3;
    --code-hl: #ffc;
    --code-lnt: #7f7f7f;
    --code-ln: #7f7f7f;
    --code-k: #069;
    --code-kc: #069;
    --code-kd: #069;
    --code-kn: #069;
    --code-kp: #069;
    --code-kr: #069;
    --code-kt: #069;
    --code-na: #309;
    --code-nb: #366;
    --code-nc: #0a8;
    --code-nf: #360;
    --code-nl: #99f;
    --code-nt: #309;
    --code-nv: #033;
    --code-vc: #8be9fd;
    --code-vg: #8be9fd;
    --code-v1: #8be9fd;
    --code-s: #c30;
    --code-sa: #c30;
    --code-sb: #c30;
    --code-sc: #c30;
    --code-dl: #c30;
    --code-sd: #c30;
    --code-s2: #c30;
    --code-se: #c30;
    --code-sh: #c30;
    --code-si: #c30;
    --code-sx: #c30;
    --code-sr: #c30;
    --code-s1: #c30;
    --code-ss: #fc3;
    --code-m: #f60;
    --code-mb: #f60;
    --code-mf: #f60;
    --code-mh: #f60;
    --code-mi: #f60;
    --code-il: #f60;
    --code-mo: #f60;
    --code-o: #555;
    --code-ow: #000;
    --code-c: #09f;
    --code-ch: #09f;
    --code-cm: #09f;
    --code-c1: #09f;
    --code-cs: #09f;
    --code-cp: #09f;
    --code-cpf: #09f;
    --code-gd: #fcc;
    --code-go: #aaa; */

    --code-color: #f8f8f2;
    --code-bg-color: #0e2233;
    --code-hl: #000;
    --code-lnt: #7f7f7f;
    --code-ln: #7f7f7f;
    --code-k: #ff79c6;
    --code-kc: #ff79c6;
    --code-kd: #8be9fd;
    --code-kn: #ff79c6;
    --code-kp: #ff79c6;
    --code-kr: #ff79c6;
    --code-kt: #8be9fd;
    --code-na: #50fa7b;
    --code-nb: #8be9fd;
    --code-nc: #50fa7b;
    --code-nf: #50fa7b;
    --code-nl: #8be9fd;
    --code-nt: #ff79c6;
    --code-nv: #8be9fd;
    --code-vc: #8be9fd;
    --code-vg: #8be9fd;
    --code-v1: #8be9fd;
    --code-s: #8be9fd;
    --code-sa: #8be9fd;
    --code-sb: #8be9fd;
    --code-sc: #8be9fd;
    --code-dl: #8be9fd;
    --code-sd: #8be9fd;
    --code-s2: #8be9fd;
    --code-se: #8be9fd;
    --code-sh: #8be9fd;
    --code-si: #8be9fd;
    --code-sx: #8be9fd;
    --code-sr: #8be9fd;
    --code-s1: #8be9fd;
    --code-ss: #8be9fd;
    --code-m: #bd93f9;
    --code-mb: #bd93f9;
    --code-mf: #bd93f9;
    --code-mh: #bd93f9;
    --code-mi: #bd93f9;
    --code-il: #bd93f9;
    --code-mo: #bd93f9;
    --code-o: #bd93f9;
    --code-ow: #bd93f9;
    --code-c: #6272a4;
    --code-ch: #6272a4;
    --code-cm: #6272a4;
    --code-c1: #6272a4;
    --code-cs: #6272a4;
    --code-cp: #ff79c6;
    --code-cpf: #ff79c6;
    --code-gd: #8b080b;
    --code-go: #44475a;
}

/* body.dark-theme { */
    /* --code-color: #f8f8f2;
    --code-bg-color: #0e2233;
    --code-hl: #000;
    --code-lnt: #7f7f7f;
    --code-ln: #7f7f7f;
    --code-k: #ff79c6;
    --code-kc: #ff79c6;
    --code-kd: #8be9fd;
    --code-kn: #ff79c6;
    --code-kp: #ff79c6;
    --code-kr: #ff79c6;
    --code-kt: #8be9fd;
    --code-na: #50fa7b;
    --code-nb: #8be9fd;
    --code-nc: #50fa7b;
    --code-nf: #50fa7b;
    --code-nl: #8be9fd;
    --code-nt: #ff79c6;
    --code-nv: #8be9fd;
    --code-vc: #8be9fd;
    --code-vg: #8be9fd;
    --code-v1: #8be9fd;
    --code-s: #8be9fd;
    --code-sa: #8be9fd;
    --code-sb: #8be9fd;
    --code-sc: #8be9fd;
    --code-dl: #8be9fd;
    --code-sd: #8be9fd;
    --code-s2: #8be9fd;
    --code-se: #8be9fd;
    --code-sh: #8be9fd;
    --code-si: #8be9fd;
    --code-sx: #8be9fd;
    --code-sr: #8be9fd;
    --code-s1: #8be9fd;
    --code-ss: #8be9fd;
    --code-m: #bd93f9;
    --code-mb: #bd93f9;
    --code-mf: #bd93f9;
    --code-mh: #bd93f9;
    --code-mi: #bd93f9;
    --code-il: #bd93f9;
    --code-mo: #bd93f9;
    --code-o: #bd93f9;
    --code-ow: #bd93f9;
    --code-c: #6272a4;
    --code-ch: #6272a4;
    --code-cm: #6272a4;
    --code-c1: #6272a4;
    --code-cs: #6272a4;
    --code-cp: #ff79c6;
    --code-cpf: #ff79c6;
    --code-gd: #8b080b;
    --code-go: #44475a;
} */

code {
    font-size: 0.87891rem;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

:not(pre)>code{
    color: var(--inline-code-text);
    padding: .2rem .33rem;
    vertical-align: 1%;
    font-size: .78em;
    background-color: var(--inline-code-bg);
}

.chroma {
    overflow-x: auto;
}
.chroma .lntd:nth-child(1){
    width: 2rem;
    border-right: .15rem solid #17354c;
}
.chroma .lntd:nth-child(2) > pre {
    padding-left: 1rem;
}
.highlight{
    color: var(--code-color);
    background-color: var(--code-bg-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}
pre.chroma{
    padding: 0;
    line-height: 1.5;
}
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: auto;
}
.chroma .hl {
    display: block;
    width: 100%;
    background-color: var(--code-hl);
}
.chroma .l {
    color: var(--code-color);
}
.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--code-lnt);
}
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--code-ln);
}
.chroma .k {
    color: var(--code-k);
}
.chroma .kc {
    color: var(--code-kc);
}
.chroma .kd {
    color: var(--code-kd);
    font-style: italic;
}
.chroma .kn {
    color: var(--code-kn);
}
.chroma .kp {
    color: var(--code-kp);
}
.chroma .kr {
    color: var(--code-kr);
}
.chroma .kt {
    color: var(--code-kt);
}
.chroma .na {
    color: var(--code-na);
}
.chroma .nb {
    color: var(--code-nb);
    font-style: italic;
}
.chroma .nc {
    color: var(--code-nc);
}
.chroma .nf {
    color: var(--code-nf);
}
.chroma .nl {
    color: var(--code-nl);
    font-style: italic;
}
.chroma .nt {
    color: var(--code-nt);
}
.chroma .nv {
    color: var(--code-nv);
    font-style: italic;
}
.chroma .vc {
    color: var(--code-vc);
    font-style: italic;
}
.chroma .vg {
    color: var(--code-vg);
    font-style: italic;
}
.chroma .vi {
    color: var(--code-vi);
    font-style: italic;
}
.chroma .s {
    color: var(--code-s);
}
.chroma .sa {
    color: var(--code-sa);
}
.chroma .sb {
    color: var(--code-sb);
}
.chroma .sc {
    color: var(--code-sc);
}
.chroma .dl {
    color: var(--code-dl);
}
.chroma .sd {
    color: var(--code-sd);
}
.chroma .s2 {
    color: var(--code-s2);
}
.chroma .se {
    color: var(--code-se);
}
.chroma .sh {
    color: var(--code-sh);
}
.chroma .si {
    color: var(--code-si);
}
.chroma .sx {
    color: var(--code-sx);
}
.chroma .sr {
    color: var(--code-sr);
}
.chroma .s1 {
    color: var(--code-s1);
}
.chroma .ss {
    color: var(--code-ss);
}
.chroma .m {
    color: var(--code-m);
}
.chroma .mb {
    color: var(--code-mb);
}
.chroma .mf {
    color: var(--code-mf);
}
.chroma .mh {
    color: var(--code-mh);
}
.chroma .mi {
    color: var(--code-mi);
}
.chroma .il {
    color: var(--code-il);
}
.chroma .mo {
    color: var(--code-mo);
}
.chroma .o {
    color: var(--code-o);
}
.chroma .ow {
    color: var(--code-ow);
}
.chroma .c {
    color: var(--code-c);
}
.chroma .ch {
    color: var(--code-ch);
}
.chroma .cm {
    color: var(--code-cm);
}
.chroma .c1 {
    color: var(--code-c1);
}
.chroma .cs {
    color: var(--code-cs);
}
.chroma .cp {
    color: var(--code-cp);
}
.chroma .cpf {
    color: var(--code-cpf);
}
.chroma .gd {
    color: var(--code-gd);
}
.chroma .ge {
    text-decoration: underline;
}
.chroma .gh {
    font-weight: 700;
}
.chroma .gi {
    font-weight: 700;
}
.chroma .go {
    color: var(--code-go);
}
.chroma .gu {
    font-weight: 700;
}
.chroma .gl {
    text-decoration: underline;
}
