{{- if .Param "authorbox" }}
<div class="post__bio bio" >
	{{- with .Site.Params.Author.photo }}
		<img class="lazyload bio__avatar" alt="{{ $.Site.Params.Author.name }} avatar" data-src="/img/avatar.webp" height="90" width="90" src="{{ "/img/placeholder.svg" | relURL }}">
	{{- end }}
	<div class="bio__info">
		<a class="bio__name invert" href="/about">
			<p itemprop="author">{{ .Site.Params.Author.name }}</p>
		</a>
		{{- with .Site.Params.Author.bio }}
		<p itemprop="about">
			{{- . -}}
		</p>
		{{- end }}
		{{ with .Site.Params.Author.donate }}
			<a href="/donate" class="btn">Support Me</a>
		{{ end }}
	</div>
</div>

{{- end }}
