{{ if (.Param "comments")}}
<section class="post__comments" id="post__comments">
	<div>
		<h5 class="flex-text-icon">{{ partial "svg/message.svg" }} <span>Comment:</span> </h5>
		<div id="comment"></div>
		{{ template "_internal/disqus.html" . }}
	</div>
	<script>
		var commentId = document.getElementById('comment');
		var commentLoaded = false;
		window.addEventListener('scroll', loadComment());

		function loadComment(){
			window.addEventListener('DOMContentLoaded', () => {
				var top = commentId.offsetTop;
				
				if (!commentLoaded) {
					commentLoaded = true;
					(function () {
						var d = document, s = d.createElement('script');
						s.src = 'https://utteranc.es/client.js';
						s.setAttribute('repo', '{{ .Site.Params.Comments.Repository }}');
						s.setAttribute('issue-term', 'title');
						var currentTheme = localStorage.getItem("w-theme");
						if(currentTheme == 'light'){
							s.setAttribute('theme', 'github-light');
						}else{
							s.setAttribute('theme', 'photon-dark');
						}
						s.setAttribute('crossorigin', 'anonymous');
						s.async = !0;
						commentId.appendChild(s);
					})();
				}
			});		
		}
	</script>
</section>
{{ end }}