{{- if and .IsPage (.Param "contact") }}
<br>
<br>
<form action="https://formspree.io/f/{{ .Site.Params.formspreeId }}" method="POST" class="contact__form">
	<div class="flex">
		<input type="text" name="Name" placeholder="Full Name" required class="m-2" style="margin-right: 20px;">
		<input type="email" name="_replyto" placeholder="Email" required>
	</div>
	<input type="text" name="_subject" placeholder="Subject">
	<textarea required="" name="message" placeholder="Message" required></textarea>
	<input type="text" name="_gotcha" style="display:none" />
	<button type="submit">Submit</button>
</form>
{{- end }}
