<div class='property outline'>
    <p>📅️ Published: 
        <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- .Date.Format (.Site.Params.dateFormat | default "January 02, 2006") -}}
        </time>
    </p>
    <p>🔄 Updated: 
        <time itemprop="dateModified" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- .Lastmod.Format "January 02, 2006" -}}
        </time>
    </p>
    <p>🕔 {{ .ReadingTime }} min read ∙ {{ .WordCount }} words</p>
    {{- if .Params.series -}}
    {{ range first 1 .Params.series }}
    <p>🏷 Series: <a href="/series/{{. | urlize}}">{{ . }}</a></p>
    {{ end }}
    {{- end -}}
</div>