{{- if .Site.Menus.main }}
	<nav class="navbar js-navbar">
		<ul class="navbar__menu">
			{{ $currentPage := . }}
			{{ range .Site.Menus.main }}
				{{ if .Identifier }}
				<li>
					<a href="{{ .URL }}" target="_self">
						{{ .Pre }} {{ .Identifier }}
					</a>
				</li>
				{{ end }}
			{{- end }}
		</ul>
		<button class="navbar__toggle js-toggle" aria-label="Menu" aria-haspopup="true" aria-expanded="false"><span class="navbar__toggle-box"><span class="navbar__toggle-inner">Menu</span></span>
		</button>
	</nav>
{{- end }}