{{- $pag := $.Paginator }} {{- if gt $pag.TotalPages 1 }}
<nav aria-label="pagination">
    <ul class="post__tag pagination">
    	{{ if $pag.HasPrev }}
    	<li class="pagination__item">
            <a href="{{ $pag.Prev.URL }}"
                aria-label="Previous page" {{ if not $pag.HasPrev }} aria-hidden="true" {{ end }}>Previous</a>
        </li>
        {{ end }}
        <li  class="pagination__item">
            {{- $.Scratch.Set "__paginator.ellipsed" false }} {{- range $pag.Pagers }}
            {{- $right := sub .TotalPages .PageNumber }} {{- $showNumber := or (le .PageNumber 3) (eq $right 0) }}
            {{- $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2))) }}
            {{- if $showNumber }} {{ $.Scratch.Set "__paginator.ellipsed" false }}
            {{ $.Scratch.Set "__paginator.shouldEllipse" false }} {{- else }}
            {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
            {{ $.Scratch.Set "__paginator.ellipsed" true }} {{ end }} {{- if $showNumber }}
            <a href="{{ .URL }}" aria-label="Go to page {{ .PageNumber }}"
                class="pagination-link {{ if eq . $pag }}active{{ end }}">{{ .PageNumber }}</a>
            {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
            <span class="pagination-ellipsis" aria-hidden="true">&hellip;</span>
            {{ end }} {{ end }}
        </li>
        {{ if $pag.HasNext }}
        <li  class="pagination__item">
            <a href="{{ $pag.Next.URL }}" aria-label="Next page"
                {{ if not $pag.HasNext }} aria-hidden="true" {{ end }}>Next</a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}