{{ $relatedMax := .Site.Params.relatedMax | default 5 }}
{{ $related := .Site.RegularPages.Related . | first $relatedMax }}

{{ if and ($related) (.Param "related") }}
<div class="post__related related">
	<div class="wrapper">
		<h2 class="h5 related__title">You should also read:</h2>
		{{ range $related }}
		<article class="related__item">
			<div class="feed__meta">
				{{ partial "entry/meta/date.html" .}}
			</div>
			<h3><a class="invert" href="{{ .RelPermalink }}">{{ .Title }}</a></h3></article>
		{{ end }}
	</div>
</div>
{{ end }}