{{ $script := resources.Get "js/script.js" }}

{{ $js := slice $script  | resources.Concat "js/bundle.js" | resources.Minify}}

<script type="text/javascript" src="{{$js.RelPermalink}}" defer></script>
{{- partial "mathjax.html" . -}}
{{- range .Site.Params.customJS }}
<script src="{{ . | relURL }}" defer></script>
{{- end }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script>
<script>(function (d, e) { d[e] = d[e].replace("no-js", "js"); })(document.documentElement, "className");</script>
<script>
    {{ $date := now.Format "2006-01-02" }}
    {{ if .GitInfo }}
    {{ $date = .GitInfo.AuthorDate }}
    {{ end }}
    {{ with .Site.Params.GoogleAnalytics }}
        (function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'); ga('create', '{{ . }}', 'auto'); ga('send', 'pageview');
    {{ end }}

    {{ $rawSw := readFile "assets/js/sw.js" }}
    {{ $buildDate := delimit (slice "const BUILD_DATE = \"" $date "\"") "" }}
    {{ $swString := delimit (slice $buildDate $rawSw) ";   " }}
    {{ $sw := $swString | resources.FromString "/sw.js" }}

    if ('serviceWorker' in navigator) {
        const buildDate = {{ $date | time.Format ":date_short" }};
        navigator.serviceWorker
            .register({{ $sw.Permalink }}, { scope: '/' })
            .then(function (registration) {
                console.log('Service Worker Registered');
            });

        navigator.serviceWorker
            .ready
            .then(function (registration) {
                console.log('Service Worker Ready');
            });
    }
</script>
