{{- if and .IsPage (.Param "search") }}
<br>
<link rel="stylesheet" href="{{ "css/cse.css" | relURL }}">
<form action="/search" class="search-page__form">
    <input type="search" name="q" placeholder="Search..." class="search-page__input">
    <button type="submit">Submit</button>
</form>
<script>
    (function() {
        var cx = '{{ .Site.Params.customSearchId }}';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
<br>
<br>
{{- end}}
