<div class="block">
    {{ if ne (len $.Site.Taxonomies.series) 0 }}
        {{ range $name, $taxonomy := $.Site.Taxonomies.series }}
            {{ $count := len $taxonomy.Pages }}
            {{ with $.Site.GetPage (printf "/series/%s" $name) }}
            <div class="series__item">
                <a href="{{ .RelPermalink }}"><h2>{{ .LinkTitle | default .Data.Term | default $name }}</h2></a>
            <p>📚 Total Post: {{ $count }}</p>
            </div>
            {{ end }}
        {{ end }}
    {{ end }}
</div>
